
.about{
    display: flex;
    align-items: center;
    gap: 12rem;
    @media (width < 1100px) {
    gap: 5rem;
    }
    margin-top: 7rem;
    img{
        width: 45rem;
        position: relative;
        top: 2rem;
        @media (width < 1100px) {
        width: 40rem;
        margin-left: -3rem;
            }
    }
    .about_text{
margin-right: 1rem;
.client-about{
        // line-height: 5rem;
        text-align: start;
        p {
          color: $pink-color;
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          line-height: 0rem;
        }
        h1 {
          color: $text-color-big;
          font-size: clamp(3rem, 15vw, 6rem);
          letter-spacing: 0.3rem;
          font-weight: $fnt-weight--500;
          text-transform: $text-capt;
        }
}
      button{
        margin-top: 2rem;
        padding: 1rem 3rem;
        border-radius: 0.7rem;
        border: none;
        font-family: 'Roboto Flex', sans-serif;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        @media (width < 500px) {
            margin-top: 2rem;
            padding: 0.7rem 2.5rem;
            border-radius: 0.7rem;
            font-size: 1.5rem;
            letter-spacing: 0rem;
        }
    }
      p{
        color: $text-color-medium;
        line-height: 2.5rem;
        letter-spacing: 0.2rem;
        // background-color: red;
        width: min(100% , 60rem);
        margin-top: 1rem;
        font-size: clamp(1rem , 10vw , 1.5rem);
      } 
    }
}


@media (width < 992px) {
    .about{
        flex-direction: column-reverse;
        align-items: start;
        padding-inline: clamp(1rem , 5vw ,4rem) 0rem;
        img{
            width: 40rem;
        }
        .about_text{
            margin-top: 3rem;
        width: 100%;
            h2{
                font-size: clamp(3rem , 10vw , 8rem);
            }
            p{
                line-height: 2.5rem;
                // text-align: center;
              }
            
        }
    }
 
   
}
@media (width < 992px) {
    .about{
        margin-top: 4rem;
    }
}
@media (Width < 700px) {
    .about{
        padding-inline: clamp(2rem , 5vw , 5rem) 3rem;
    
        .about_text{
            align-items: start;
            h2{
                text-align: start;
            }
            p{
        font-size: 1.4rem;
        line-height: 2.3rem;
        text-align: justify;
            }
        }
    }
 
}




@media (width < 500px) {
    
    .about{
        padding-inline: clamp(1rem , 5vw , 4rem) 2rem;
        margin-top: 2rem;
   img{
    width: 35rem;
   }
        .about_text{
    
            p{
                line-height: 2rem;
                letter-spacing: 0.1rem;
                font-size: 1rem;
              }
        }
    
    }

}
@media (width < 353px) {
    .about{
        img{
            width: 30rem;
           }
    }

}