.footer{
  margin-top: 10rem;
  position: relative;
  .footer-text{
    text-align: center;
    line-height: 5rem;
h1{
  text-transform: capitalize;
font-size: 3rem;
color: $text-color-white;
}
p{
  color: $text-color-small;
  opacity: 0.9;
  text-transform: capitalize;
font-size: 1.4rem;
@media (width < 556px) {
font-size: 1.2rem;
}
@media (width < 500px) {
font-size: 1.3rem;
}
}


}
.arrow-up{
  margin-top: 1rem;
  position: absolute;
  bottom: 0rem;
  right: 4rem;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  button{
    color: $text-color-white;
    background: none;
  cursor: pointer;
    outline: none;
    border: none;
    font-size: 2rem;
    position: relative;
  }
}
}
 @media (width < 600px) {
 .footer{
  .footer-text{
    text-align: start;
padding-left: 2rem;
  }
  .arrow-up{
    position: absolute;
    right: 3rem;
  }
 }
 }
 @media (width < 500px) {
 .footer{
  .footer-text{
    text-align: start;
padding-left: 2rem;
line-height: 2rem;
  }
  p{
    color: $text-color-small;
    opacity: 0.9;
    text-transform: capitalize;
  font-size: 1.2rem;
  margin-top: 1rem;
  }
  
  .arrow-up{
    position: absolute;
    right: 3rem;
    bottom: -4.5rem;
  }
 }
 }
 @media (width < 376px) {
 .footer{
  .footer-text{
padding-left: 1rem;
  }
  .arrow-up{
    position: absolute;
    right: 3rem;
  }
 }
 }