.sticky-nav {
  position: sticky;
  inset: 0;
  transition: 200ms linear;
  background-color: var(--info-img-bg);
}
.dark-mode{
  position: absolute;
  right: 3rem;
  top: 2.8rem;
  cursor: pointer;
  font-size: 2.7rem;
  color: var(--clr-fnt-white);
}
.header {
  justify-content: space-between;
  padding: 0rem 3rem;
  padding-bottom: 1.1rem;
  display: flex;
  z-index: 1;
  align-items: center;
  .logo {
    img {
      width: 100%;
    }
  }
  nav {
    position: relative;
    right: 4%;
    top: 1.5rem;
    .triangle {
      $border: 0.9rem solid transparent;
      width: 0;
      height: 0;
      cursor: pointer;
      content: "";
      position: relative;
      transition: 300ms;
      top: 0.7rem;
      border-left: $border;
      border-right: $border;
      border-bottom: 1.5rem solid var(--clr-navbar-triangle);
    }
    ul {
      display: flex;
      gap: 5rem;
      li {
        list-style: none;
        .nav-link.active {
          color: var(--clr-navbar-triangle);
          transition: 300ms;
        }
        a {
          text-decoration: none;
          cursor: pointer;
          font-size: 2rem;
          color: var(--clr-fnt-white);
          text-transform: $text-capt;
          font-weight: $fnt-weight--lighter;
          letter-spacing: 0rem;
        }
      }
    }
  }
  .burger {
    display: none;
  }
}

.triangle-home {
  left: 2rem;
}
.triangle-about {
  left: calc(2rem + 10.3rem);
}
.triangle-project {
  left: calc(2rem + 21rem);
}
.triangle-services {
  left: calc(2rem + 33rem);
}
.triangle-reviews {
  left: calc(2rem + 45.3rem);
}
.triangle-contact {
  left: calc(2rem + 58rem);
}
@media (width < 992px) {
  .dark-mode{
    position: absolute;
    font-size: 2.5rem;
    right: 3%;
    top: 6rem;
  }
  .header {
    flex-direction: column;
    justify-content: center;
    padding: 0.1rem 0rem;
    padding-bottom: 2.2rem;
    .logo {
      img {
        width: 80%;
      }
    }
    nav {
      margin-top: -1rem;
      right: 0;
      ul {
        gap: min(5vw, 5rem);
        li {
          a {
            font-size: clamp(1.5rem, 3vw, 2rem);
          }
        }
      }
    }
  }
  .triangle {
    $border: 0.7rem solid transparent;
    top: 0.5rem;
    border-left: $border;
    border-right: $border;
    border-bottom: min(2vw, 1.4rem) solid var(--clr-navbar-triangle);
  }
  .triangle-home {
    left: 1.5rem;
  }
  .triangle-about {
    left: 19%;
  }
  .triangle-project {
    left: 36%;
  }
  .triangle-services {
    left: 56%;
  }
  .triangle-reviews {
    left: 74%;
  }
  .triangle-contact {
    left: 92%;
  }
}
@media (width < 600px) {
  .dark-mode{
    position: absolute;
    right: 6rem;
    top: 2.5rem;
  }
  .header {
    flex-direction: row;
    justify-content: start;
    padding: 1rem;
    z-index: 1;
    .logo {
      img {
        width: 80%;
      }
    }
    nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 0rem;
      z-index: 1;
      .triangle {
        display: none;
      }
      ul {
        gap: 0;
        line-height: 5rem;
        height: 100dvh;
        width: 100%;
        padding-block: 16rem;
        margin: 0;
        position: absolute;
        left: -100rem;
        white-space: none;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.622);
        li {
          a {
            font-size: clamp(1.7rem, 3vw, 2rem);
            position: relative;
            color: var(--text-color-white);
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 0.2rem;
              top: 2.5rem;
              left: 0rem;
              opacity: 0.8;
              background-color: var(--pink-color);
              transform-origin: bottom left;
              transition: transform 0.25s ease-out;
            }
            &:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
      .nav-open {
        left: 0;
      }
    }

    .burger {
      position: absolute;
      width: 30px;
      height: 20px;
      right: 1rem;
      background: transparent;
      cursor: $cursor;
      display: none;
      display: block !important;
      z-index: 1;
      input {
        display: none;
        &:checked ~ span:nth-of-type(1) {
          transform: rotate(45deg);
          top: 0px;
          left: 5px;
        }
        &:checked ~ span:nth-of-type(2) {
          width: 0%;
          opacity: 0;
        }
        &:checked ~ span:nth-of-type(3) {
          transform: rotate(-45deg);
          top: 22px;
          left: 5px;
        }
      }
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: var(--text-color-white);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        &:nth-of-type(1) {
          top: 0px;
          transform-origin: left center;
        }
        &:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);
          transform-origin: left center;
        }

        &:nth-of-type(3) {
          top: 100%;
          transform-origin: left center;
          transform: translateY(-100%);
        }
      }
    }
  }
}
