$bg-clr: #212428 ;
$clr-fnt-white : #a4aab4;
$clr-info-h2: #00FFF0;
$fnt-weight-900 : 900 ;
$fnt-weight--500 : 900 ;
$fnt-weight--lighter : lighter ;
$text-capt :capitalize;
$clr_hr:#27DEBF;
$cursor: pointer;
$pink-color: #FF014D;
$pink-color-light: #ff014d83;
$text-color-medium:#C1CCDC;
$text-color-small:#A8B1BE;
$clr-navbar-triangle : #FFFFFF;
$text-color-white: #FFFFFF;
$text-color-big:#C4CFDE;
$pricing-bg-re:#555a61;
$button-bg: #22262A;
$info-img-bg: #202327 ;
$box-shadow:  #363b41e3 ;
$box-shadow2:  #1f2125 ;
$box-shadow3:  #22262a ;